@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --Poppins: "Poppins", sans-serif;
  --primary-100: #fff3e3;
  --primary-600: #b88e2f;
  --gray-100: #ededed;
  --gray-200: #666666;
  --gray-600: #333333;
  --red-400: #ef5349;
  --green-400: #118c4e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Poppins);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}
.navbar-logo {
  img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
  }
}
.navbar-menu {
  display: none;
}
.user-actions {
  display: none;
}
.hamburger {
  img {
    width: 24px;
  }
}
/* shop banner section start */
.shop-banner {
  position: relative;
}
.background {
  img {
    width: 100%;
  }
}
.shop-banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.shop-banner-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--gray-600);
  margin-bottom: 0;
}
a[href="../cssProject/home.html"] {
  text-decoration: none;
  color: var(--gray-600);
}
a[href="../cssProject/shop.html"] {
  text-decoration: none;
  color: var(--gray-200);
}

/* shop banner section end */
/* shop product filter section start */
.product-filter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px 20px;
  background-color: var(--primary-100);
}
.filter-bar-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    width: 2px;
    height: 20px;
    margin: 0 8px;
    background-color: var(--gray-200);
  }
}
.filter-bar-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  select {
    border: none;
    outline: none;
  }
}
/* shop product filter section end */

/* shop product section start */
.product-container-heading {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.product-cart-area {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.cart {
  background-color: var(--gray-100);
  position: relative;
  margin: 10px 0;
}
.cart:hover::before {
  background-color: var(--gray-200);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.product-image {
  img {
    width: 100%;
  }
}
.product-description {
  padding: 10px;
}
.product-name {
  font-weight: 600;
  font-size: 20px;
}
.product-details {
  color: var(--gray-200);
}
.product-price {
  font-weight: 500;
  font-size: 20px;
  del {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-200);
    padding-left: 10px;
  }
}
.product-discount {
  background-color: var(--red-400);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--gray-100);
  position: absolute;
  top: 10px;
  right: 10px;
}
.cart-hover {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 11%;
}
.cart-button {
  width: 80%;
  color: var(--primary-600);
  font-weight: 600;
  border: none;
  padding: 10px 0;
  cursor: pointer;
}
.product-actions {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  color: var(--gray-100);
  cursor: pointer;
}
.cart:hover .cart-hover {
  display: flex;
}
/* product section end */
/* pagination section start */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  a {
    text-decoration: none;
    color: var(--gray-600);
    padding: 10px 18px;
    border-radius: 4px;
    background-color: var(--primary-100);
    font-weight: 500;
  }
  a:hover {
    background-color: var(--primary-600);
    color: var(--gray-100);
  }
}
/* pagination section end */

/* service section start */
.service {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  background-color: var(--primary-100);

  img {
    display: flex;
    justify-self: center;
    width: 20%;
  }
}
.service-item {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  /* margin: 0 20px; */
  gap: 20px;
}
.service-title {
  font-size: 20px;
  font-weight: 600;
}
.service-description {
  font-size: 16px;
  color: var(--gray-200);
}
/* service section end */
/* footer section start */
.footer-area{
  border-top: 1px solid var(--gray-200);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.company-name{
  font-weight: 700;
}
.company-location{
  font-size: 14px;
  color: var(--gray-200);
  padding: 20px 0;
}
.footer-link-area{
  display: grid;
  grid-template-columns: 1fr 1fr;
  li{
    list-style: none;
    a{
      text-decoration: none;
      color: var(--gray-600);
    }
  }
}
footer ul > * + * {
  margin: 8px 0;
}

.footer-heading{
  color: var(--gray-200);
  margin: 8px 0;
}
.footer-news-letter{
  margin: auto 0;
}
.news-letter-action{
  input{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--gray-600);
  }
  button{
    border: none;
    background: transparent;
    margin-left: 5px;
    border-bottom: 1px solid var(--gray-600);
    cursor: pointer;
  }
}
.copywrite{
  margin: 0 20px;
  border-top: 1px solid var(--gray-200);
  padding: 10px 0;
  font-size: 14px;
  color: var(--gray-200);
}
/* footer section end */

/* Responsive Design */

@media only screen and (min-width: 600px) {
  .navbar-menu {
    display: flex;
  }
  .menu {
    display: flex;
    gap: 5px;
  }
  .nav-item {
    list-style: none;
  }
  .nav-link {
    text-decoration: none;
    color: var(--gray-600);
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 5px;
  }
  .nav-link:hover {
    background-color: var(--gray-200);

    color: var(--primary-100);
  }
  .nav-link:focus {
    background-color: var(--primary-600);
    color: var(--primary-100);
  }
  .user-actions {
    display: flex;
    gap: 5px;
  }
  .action-icon {
    img {
      width: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .hamburger {
    display: none;
  }
  .filter-bar-start {
    justify-content: start;
    gap: 10px;
  }
  .filter-bar-end {
    justify-content: start;
    gap: 10px;
  }
  .product-cart-area {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
  }
  .service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0;
  }
}
@media only screen and (min-width: 768px) {
  .product-filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px 20px;
  }
  .filter-bar-start {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .filter-bar-end {
    display: flex;
    justify-content: end;
    align-items: center;
  }

}
@media only screen and (min-width: 992px) {
  .navbar {
    padding: 20px 30px;
  }
  .product-filter {
    padding: 10px 50px;
  }
  .product-cart-area {
    grid-template-columns: auto auto auto;
  }
  .service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 0;
  }
  .footer-area{

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .footer-news-letter{
    margin: 0;
  }
  footer ul > * + * {
    margin: 20px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .product-cart-area {
    grid-template-columns: auto auto auto auto;
  }
  .service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
